{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<!-- Feed Page body -->
<div class="container mx-auto">
	<!-- Feed List display Container-->
	<div class="container mx-auto mt-2  w-50">
		{% for post in object_list %}
		<!-- Individual Feed Container -->
		<div class="row shadow-lg mt-2 p-2 rounded">
			<!-- Left Bar Image -->
			<!-- Profile Image of the post -->
			<div class="col-md-2">
				<img class="img-thumbnail border rounded-circle" src="{{post.user.profile.profile_img.url}}" width="75" height="75">
			</div>
			<!-- Right Bar Content -->
			<!-- Profile Name of the Post  
				 Post Date
				-->
			<div class="col-md-10">
				<div class="row mb-2">
					<div class="col-md-5 pt-1">
						<div class="row">
							{% if user == post.user %}
								<h6 class="small pt-1 "><a href="{% url 'profile' %}">{{post.user.first_name}} {{post.user.last_name}}</a><h6>
							{% else %}
								<h6 class="small pt-1 ">
								<a href="{% url 'rprofile' post.user_id %}">{{post.user.first_name}} {{post.user.last_name}}</a></h6>
							{% endif %}
						</div>
						<div class="row">
							<span class="small">{{post.date}}</span>
						</div>
					</div>
					<!-- Post Edit -->
					<div class="col-md-7" align="Right">
						<a href="{% url 'feed:edit' post.id %}"><img src="{% static 'components/edit.jpg/' %}" width="15" height="15"></a>
					</div>
				</div>
				<!-- Post Context -->
				<div class="row p-2">
					<small>
					{{post.post}}
					</small>
				</div>
				<!-- feed post image -->
				<div class="row">
					<img class="img-thumbnail" src="{{post.image.url}}">
				</div>
				<!-- Like section -->
				<div class="row">
					<form method="post" action="{% url 'feed:feed' %}">
						{% csrf_token %}
						<div class="container pl-0">
							<input type="hidden" name="post_id" value="{{post.id}}">
							<input type="hidden" name="likes" value=1>
							<input class="btn btn-link pl-0 pr-0" type="submit" name="like" value="like">
							<small>{{post.likes_set.all.count}}</small>
						</div>
					</form>
				</div>
				<!-- Comment Section -->
				<div class="row">
					<form class="w-100" method="post" action="{% url 'feed:feed' %}">
						{% csrf_token %}
						<div class="col-md-9 pl-0 mb-0 input-group">
							{{comments_form}}
							<div class="col-md-3 pl-0 input-group-append">
								<input type="hidden" name="post_id" value="{{post.id}}">
								<button class="btn btn-sm btn-success" type="submit">comment
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					{% for comment in post.comments_set.all %}
					<div class="container bg-light pl-0 pr-0">
						{% if user == comment.user %}
							<h6 class="small pt-1 "><a href="{% url 'profile' %}">{{comment.user.username}}</a><span> {{comment.comments}}</span></h6>
							<hr class="p-0 m-0">
						{% else %}
							<h6 class="small pt-1 ">
								<a href="{% url 'rprofile' comment.user.id %}">{{comment.user.username}}</a><span> {{comment.comments}}</span></h6>
							<hr class="p-0 m-0">
						{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}
		<!--  Pagination container -->
		<div class="container p-3 w-75 mx-auto">
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a class="btn btn-outline-info" href="?page=1">First</a>
				<a class="btn btn-outline-info" href="{{pages_obj.previous_page_number}}">Prev</a>
			{% endif %}
			{% for num in page_obj.paginator.page_range %}
				{% if num == page_obj.number %}
					<a class="btn btn-info" href="?page={{num}}">{{num}}</a>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
					<a class="btn btn-outline-info" href="?page={{num}}">{{num}}</a>
				{% endif %}
			{% endfor %}
			{%if page_obj.has_next %}
				<a class="btn btn-outline-info" href="?page={{page_obj.next_page_number}}">Next</a>
				<a class="btn btn-outline-info" href="?page={{page_obj.paginator.num_pages}}">Last</a>
			{% endif %}
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}