{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<!-- <img class="background" src="{{user.profile.profile_img.url}}"> -->
<div class="container shadow-lg bg-light w-25 mt-2 p-2 mx-auto border rounded">
	<h3 class="mx-auto w-75 text-muted">Password Change</h3>
	<form class="p-3" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{form|crispy}}
		<div class="w-25 mx-auto">
			<input class="btn btn-success" type="submit" name="update" value="Update">
		</div>
	</form>
	
</div>
{% endblock %}